body {
    margin: 0;

    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px gray;
            box-shadow: 0 0 10px gray;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    background: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-navigation {
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    padding: 0 70px;

    background-color: #ffffff;  
}

.main-header {
    position: relative;
    z-index: 9;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.site-navigation a {
    background-position: 0 0;
    color: #000000;
    display: block;
    padding: 15px 0;
}

.site-navigation a[href] {
    display: block;
    padding: 15px 0;
}

.site-navigation a[href]:hover {
    color: #81b3d2;
}

.site-navigation a[href]:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation a[href] {
    color: #000000;
}

.site-navigation a {
    color: rgb(245, 229, 229);
}

.left-nav-base {
    width: 50%;
}

.left-nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
    margin: 0;
    margin-right: 40px;
}

.right-nav-base {
    width: 50%;
}

.right-nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    text-align: right;
    margin-left: 33px;
}

.nav-element {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 3;
}

.banner {
    position: relative;
    overflow: hidden;
    height: 590px;
    margin-top: -82px;
    background-color: #81b3d2;
}

.banner-piture {
    position: relative;
}

.banner:before {
    background: url("../img/welcome.svg") no-repeat center;
    position: absolute;
    content: "";
    z-index: 10;
    top: 158px;
    left: 1px;
    width: 100%;
    height: 353px;
}

.banner:after {
    background: url("../img/white-zone-marker.svg") no-repeat center;
    position: absolute;
    content:"";
    z-index: 10;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 58px;
}
.advantages {
    margin: 0;
    padding: 0;
    padding: 46px 300px 37px;
}

.bgc-blue {
    color: #ffffff;

    background-color: #81b3d2;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.text-container-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 40px;
    padding-top: 31px;
    padding-right: 40px;
    padding-bottom: 43px;
    width: 33.3%;
}

.page-title {
    text-align: center;

    font-size: 21px;
    font-weight: bold;
}

.page-title-white {
    color: #ffffff;
}

.container-number {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 20px;
}

.page-text {
    text-align: center;
    color: #333333;
}

.page-text-white {
    color: #ffffff;
}


.container-for-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.text-container-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 144px;
    padding-bottom: 66px;
    padding-left: 50px;
    padding-right: 50px;
    width: 33.3%;
}

.add-icon-first {
    position: relative;
    margin-bottom: 26px;
}

.add-icon-first:before {
    position: absolute;

    content: "";

    background: url("../img/icon-house.svg") no-repeat center;
    height: 72px;
    width: 72px;
    z-index: 10;
    left: 151px;
    top: -100px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

}

.add-icon-second {
    position: relative;
    padding-bottom: 8px;
}

.add-icon-second:before {
    position: absolute;

    content: "";

    background: url("../img/icon-food.svg") no-repeat center;
    height: 72px;
    width: 74px;
    left: 151px;
    top: -99px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 10;
}

.add-icon-third {
    position: relative;
    padding-bottom: 8px;
}

.add-icon-third:before {
    position: absolute;

    content: "";

    background: url("../img/icon-present.svg") no-repeat center;
    height: 75px;
    width: 72px;
    left: 152px;
    top: -103px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 10;
}

.page-title-big {
    line-height: 26px; 
}

.advantages-title {
    margin-bottom: 31px;
}

.container-for-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.bgc-gray {
    background-color: #eeeeee;
    margin-bottom: 51px;
}

.order-title {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.long-text-container {
    padding-bottom: 31px;
    width: 434px;
    margin: 0 auto;
}

.order-info {
    text-align: center;

    line-height: 24px;
}

.container-for-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 568px;
    margin: 0 auto;
    position: relative;
}

.order-form {
    display: flex;
        
    border: none;
    padding-top: 56px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 57px;
    padding-right: 33px;
    padding-bottom: 54px;
    position: absolute;
    background: white;
    top: 100%;
    -webkit-box-shadow: 0 0 10px gray;
            box-shadow: 0 0 10px gray;
    z-index: 0;
    animation-name: appear;
    animation-duration: 0.5s;
}

.order-form-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
}

@keyframes appear {
    0% {transform: translateY(-200px);}
    
    100% {transform: translateY(0);}
}

.label-width {
    width: 93px;
    display: block;
    margin-top: 6px;
}

.order-info-form-calendar input {
    margin-left: 18px;
}

.age {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 26px;
    margin-left: -1px;
}

.age .text-container-for-form input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 38px;
    text-align: center;
    margin-top: 1px;
}

.age-label {
    margin-top: 2px;
}

.order-info-form.adults {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.adults {
    position: relative;
    margin-right: 54px;
}

.count-button {
    width: 38px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
    margin-top: 1px;
}

.count-button-minus {
    margin-left: 17px;
    position: relative;
}

.count-button-minus:before {
    content: "";

    position: absolute;
    background-color: #a9a9a9;
    width: 12px;
    height: 3px;
    top: 52%;
    left: 53%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10;
}

.count-button-minus:hover:before,
.count-button-plus:hover:before,
.count-button-plus:hover:after,
.count-button-kids-minus:hover:before,
.count-button-kids-plus:hover:before,
.count-button-kids-plus:hover:after {
    background-color: #000000;
}

.count-button-minus:active:before,
.count-button-plus:active:before,
.count-button-plus:active:after,
.count-button-kids-minus:active:before,
.count-button-kids-plus:active:before,
.count-button-kids-plus:active:after {
    background-color: #81b3d2;
    border: none;
}

.count-button-plus {
    position: relative;
}

.count-button-plus:before {
    content: "";

    position: absolute;
    background-color: #a9a9a9;
    width: 11px;
    height: 3px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10;
}

.count-button-plus:after {
    content: "";

    position: absolute;
    background-color: #a9a9a9;
    width: 3px;
    height: 11px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10;
}

.order-info-form.kids {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.count-button-kids-minus {
    margin-left: -27px;
    position: relative;
}

.count-button-kids-minus:before {
    content: "";

    position: absolute;
    background-color: #a9a9a9;
    width: 12px;
    height: 3px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10;
}

.count-button-kids-plus {
    position: relative;
}

.count-button-kids-plus:before {
    content: "";

    position: absolute;
    background-color: #a9a9a9;
    width: 11px;
    height: 3px;
    top: 54%;
    left: 43%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10;
}

.count-button-kids-plus:after {
    content: "";

    position: absolute;
    background-color: #a9a9a9;
    width: 3px;
    height: 11px;
    top: 52%;
    left: 43%;
    z-index: 10;
    -webkit-transform: translate(-50) translate(-50);
        -ms-transform: translate(-50) translate(-50);
            transform: translate(-50) translate(-50);
}

.text-container-for-form input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 346px;
    padding: 4px 10px;
    text-align: center;
    
    font: inherit;

}

.button {
    font: inherit;

    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;

    background-color: #81b3d2;
    border: none;
    padding: 7px 17px;
}

.button:hover,
.button:hover {
    background-color: #669ec0;
}

.button:active,
.button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.order-button {
    padding-top: 31px;
    padding-bottom: 30px;
    z-index: 1;
}

.search-button {
    padding: 17px 195px;
    text-transform: uppercase;
    margin-left: -1px;
}

.button-dark,
.order-button {
    text-align: center;
    font-weight: bold;
    color: #ffffff; 
    text-transform: uppercase;
    
    background-color: #766357;   
}

.order-button:hover,
.button-dark:hover {
    background-color: #604e43;
}

.order-button:active,
.button-dark:active {
    background-color: #503e33;
}

.map {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: -125px;
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    align-items: center;
    margin: 0;
    padding-left: 133px;
    padding-top: 33px;
    padding-bottom: 37px;
    padding-right: 98px;
    background: rgba(255, 255, 255, 0.9);
}

.main-footer .page-title-big {
    padding: 0;
    margin: 0;
}

.main-footer .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    padding-left: 22px;
    padding-top: 3px;
}

.main-footer .page-text {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.logo-icon {
    display: block;
}

.button-site {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.button-site:hover {
    font: inherit;
    width: 115px;
    height: 41px;
    color: #81b3d2;

    background-color: transparent;
}

.button-site:active {
    width: 115px;
    height: 41px;
    color: #bdbbbc;

    background-color: transparent;
}

.social-button {
    margin: 0;
    padding: 0;
    margin-left: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.social-button:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #669ec0;
}

.social-button:active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #5496bd;
}

.social-button:active path {
    fill: rgba(255, 255, 255, 0.3);
}

.order-form input {
    font: inherit;
    text-align: left;
    border: 2px solid transparent;
    background-color: #f2f2f2;
    font-weight: 700;
}

.order-form input:hover {
    background-color: #ebebeb;
}

.order-form input:active,
.order-form input:focus {
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
}

.order-info-form {
    line-height: 26px;
    font-weight: bold;
    display: flex;
}

.text-container-for-form {
    position: relative;
    z-index: 1;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    padding-bottom: 28px;
}

.calendar {
    position: absolute;
    content: "";
    top: 8px;
    left: 428px;
    z-index: 10;
    width: 21px;
    height: 22px;
    color: #cacaca;
}

.calendar:hover {
    position: absolute;
    content: "";
    color: #000000;
    top: 8px;
    left: 428px;
    z-index: 10;
    width: 21px;
    height: 22px;
}

.calendar:active {
    position: absolute;
    content: "";
    color: #81b3d2;
    top: 8px;
    left: 428px;
    z-index: 10;
    width: 21px;
    height: 22px;
}

.footer-social {
    list-style: none;
}

.button-site,
.button-hotel-name {
    font: inherit;
    color: #000000;

    background-color: transparent;
}

.container-for-selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding-right: 74px;
    padding-left: 72px;
    padding-top: 13px;
    padding-bottom: 6px;
    background: url("../img/filter-background.png") no-repeat center;
    background-color: #81b3d2;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.selection-list label {
    display: block;
    position: relative;
    padding-bottom: 25px;
}

.checkbox-icon {
    content: "";
    display: block;
    width: 27px;
    height: 23px;
    position: absolute;
    top: 0;
    left: -41px;
    top: -1px;
    background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

input:checked + .checkbox-icon {
    background: url("../img/checkbox-on.svg") no-repeat 0 0;

}

input:disabled + .checkbox-icon {
    background: url("../img/checkbox-off-disabled.svg") no-repeat 0 0;
}

input:checked:disabled + .checkbox-icon {
    background: url("../img/checkbox-on-disabled.svg") no-repeat 0 0;
}

input.selection-text:focus + span {
    outline: 1px solid #81b3d2;
}

.column-first {
    padding-right: 124px;
}

.column-third {
    width: 318px;
    margin-left: auto;
}

.container-for-range {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 32px;
    border: 2px solid white;
    border-radius: 2px;
    margin-top: -15px;
    margin-left: 2px;
}

.selection-title input {
    background-color: transparent;
    text-align: center;

    color: #ffffff;
    border: none;
    width: 137px;
    padding-top: 7px;
    padding-left: 19px;

}
.selection-title-line {
    position: relative;
}

.selection-title-line:before {
    content: "";

    position: absolute;
    background-color: #ffffff;
    width: 2px;
    height: 22px;
    top: 5px;
    right: 153px;
    z-index: 10;
    border-radius: 5px;
}

.range {
    display: none;
}

.range-line {
    position: relative;
    margin-top: 11px;
    margin-left: 3px;
    margin-bottom: -11px;
}

.range-line:before {
    content: "";

    position: absolute;
    width: 306px;
    height: 2px;
    background-color: gray;
    z-index: 10;
    top: 9px;
    left: 9px;
}

.range-line:after {
    content: "";

    position: absolute;
    width: 254px;
    height: 2px;
    background-color: white;
    z-index: 10;
    top: 9px;
    left: 8px;
}

.filter-circle {
    position: absolute;
    left: 252px;
    z-index: 10;
}

.filter-circle:hover {
    width: 22px;
    height: 24px;
}

.filter-circle-first {
    left: 0;
}

.result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 72px;
    padding-top: 21px;
    padding-right: 73px;
    padding-bottom: 16px;
    border-bottom: 1px solid #f2f2f2;
}

.selection-title-sorting {
    padding-right: 49px;
}

.up-and-down {
    font: inherit;

    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 34px;
}

.up-down {
    color: #cacaca;
}

.up-down:hover {
    width: 11px;
    height: 10px;
    color: #000000; 
}

.up-down:active {
    width: 11px;
    height: 10px;
    color: #81b3d2; 
}

.hotel-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 30px 72px;
    border-bottom: 1px solid #f2f2f2;
}

.hotel-card-second-column {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

.hotel-info {
    margin-top: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 79px;
}

.wrapper-for-buttons {
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.more-info,
.book {
    font-size: 14px;
    margin-right: 2px;
    padding: 5px 17px;
}

.hotel-card-third-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.hotel-name {
    color: black;
}

.hotel-name:hover {
    color: #81b3d2;

    background-color: transparent;
}

.hotel-name:active {
    color: #bdbbbc;
}

.button-hotel-name:active {
    color: #bdbbbc;

    background-color: transparent;
}
.selection-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 40px;
    color: #ffffff;
}

.selection-list .selection-text {
    position: relative;
}

.selection-title {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.selection-title-form {
    padding-bottom: 12px;
}

.selection-title-form-third-column {
    padding-left: 4px;
}

.selection-title-sorting {
    text-align: left;
    
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    margin: 0;
    padding: 0;
    padding-right: 48px;
}

.selection-title-sorting-small {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.selection-text-sorting {
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    margin-left: 31px;
    border-bottom: 1px dotted #81b3d2;
}

.selection-text-sorting-first {
    margin-left: 36px;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.selection-text-sorting:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.selection-text-sorting:active {
    color: #000000;
    border-bottom: 1px dotted transparent;
}

.show {
    border: 1px solid #ffffff;

    background-color: transparent;
    padding: 11px 33px;
    color: white;
    margin-left: 87px;
    margin-top: 54px;
    text-transform: uppercase;
    padding-left: 36px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 2px;
}

.show:hover {
    color: #000000;
    border: 1px solid #ffffff;

    background-color: #ffffff;
}
  
.hotels-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hotel-pic {
    object-fit: contain;
}

.hotel-name {
    text-align: left;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    display: block;
    margin-top: -5px;
}
    
.hotel-type,
.hotel-price {
    text-align: left;
    color: #333333;
    max-width: 117px;
}

.icons-stars {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.margin-for-stars {
    margin-right: 6px;
}

.margin-for-stars:first-child {
    margin-left: 23px;  
}

.margin-for-stars:last-child {
    margin-right: 0;  
}

.hotel-rating {
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    padding-right: 13px;
    padding-top: 5px;
    padding-left: 16px;
    padding-bottom: 2px;
}